.contenedorBodyPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  padding-right: 180px;
  padding-left: 180px;
}

.contenedorBodyPage h1 {
  color: #3c3a42;
}

.contenedorBodyPage p {
  text-align: center;
  font-size: 16px;
}

.contenedorVentajas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  margin-bottom: 40px;
}

.lineGreen {
  width: 500px;
  height: 7px;
  background-color: #2eced1;
  position: absolute;
  z-index: -1;
  margin-top: 80px;
}

.ventajas {
  margin: 20px;
  background-color: #ffffff;
  width: 337px;
  height: 243px;
  /*padding-top: 85px;*/
  padding-left: 30px;
  padding-right: 40px;
  padding-bottom: 20px;
  text-align: left;
}

.block1 {
  display: flex;
  margin-top: 100px;
}

.block2 {
  display: flex;
  margin-top: 217px;
}

.ventajas h1 {
  font-size: 12px;
  color: #3c3a42;
  font-size: 22px;
}

.ventajas p {
  font-size: 14px;
  width: 305px;
  text-align: left;
  margin-top: 20px;
  color: #a9a8af;
  font-weight: 600;
  padding-right: 43px;
}

.icon1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #3a3053;
  margin-top: -53px;
  margin-bottom: 30px;
  padding: 25px;
}

.icon1 img {
  width: 50px;
}

.banner {
  width: 1440px;
  height: 200px;
  background-color: #3a3053;
  overflow: hidden;
  z-index: 1;
}

.contenedorBanner {
  margin-top: -199px;
}

.contenedorBanner h1 {
  color: #ffffff;
  margin-bottom: 20px;
}

.contenedorBanner button {
  background-color: #2eced1;
  color: #ffffff;
  border: none;
  border-radius: 20.5px;
  width: 150px;
  font-size: 15px;
  height: 40px;
  cursor: pointer;
}

.contenedorBanner button:hover {
  background-color: #a0e1e1;
}
